body {
  background-color: white;
  margin: 0;
  }

#navbar {
  position: sticky;
  min-width: 320px;
  top: 0;
  margin: 0px;
  overflow: hidden;
  background-color: #FFC34C;
}

#navbar a {
  margin: auto;
  display: block;
  text-align: center;
  padding: 18px 80px;
  text-decoration: none;
  font-family: Lato, Geneva, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.quote-container {
	display: flex;
    justify-content: center;
  	align-items: center;
	max-width: 1200px;
    min-width: 320px;
    height: 296px;
    margin: auto;
    font-family: Lato, Geneva, sans-serif;
    letter-spacing: -1px;
    font-size: 40px;
    background-color: #F9F9F9;
}

.quote-container > div {
	display: flex;
    align-items: stretch;
    width: 660px;
}

.quote-container > div > div {
	display: flex;
    justify-content: center;
  	text-align: center;
}
